@import-normalize;
/* bring in normalize.css styles */

/*vars*/
:root {
  --primary-color: #000;
  --primary-accent: rgba(1, 198, 253, .8);
  --primary-accent-opaque: rgba(1, 198, 253, .3);
  --primary-background:rgba(209, 192, 234, 0.2);
  --secondary-color: #fff;

  --primary-border-radius: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: var(--primary-background);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  color: var(--primary-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a{
  text-decoration: none;
}

.hidden{
  visibility: hidden;
  font-size: 0;
  width: 1px;
  height: 1px;
  display: inline-block;
  overflow: hidden;
  position: absolute !important;
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
}
/*
 * Стили компонента App
 */

.App {
  padding-bottom: 24px;
} 




